In [1]:
import pandas as pd

In [ ]:
# Dataset iris

# df = pd.read_csv("nome_do_arquivo.csv", header= None) #csv (Header None para não considerar a primeira linha como cabeçalho)
# df = pd.read_excel("nome_do_arquivo.xlsx", sheet_name="nome_da_planilha")  #xlsx
# df = pd.read_json("nome_do_arquivo.json")  #json

csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
col_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris_internet = pd.read_csv(csv_url, names = col_names)  #arquivo CSV exportado da internet, names para definir os nomes das colunas
iris_local = pd.read_csv("C:/Users/gabri/OneDrive/Desktop/machine-learning/AnalisedeDados/aulas/data/iris.csv", names= col_names)  # mesmo arquivo CSV, mas agora local

iris.head() # Exibe as primeiras linhas do DataFrame
iris.tail() # Exibe as últimas linhas do DataFrame
iris.shape # Exibe o número de linhas e colunas do DataFrame Obs: não tem parênteses
iris.info() # Exibe informações gerais do DataFrame, como tipos de dados e valores nulos
iris.describe() # Exibe estatísticas descritivas das colunas numéricas do DataFrame

mean() # Calcula a média dos valores de uma coluna
median() # Calcula a mediana dos valores de uma coluna
mode() # Calcula a moda dos valores de uma coluna
min() # Retorna o valor mínimo de uma coluna
max() # Retorna o valor máximo de uma coluna
sum() # Retorna a sina dis valores de uma coluna
count() # Retorna a contagem de valores não-nulos de uma coluna
std() # Calcula o desvio padrão dos valores de uma coluna
var() # Calcula a variança dos valores de uma coluna
quantile() # Calcula o percentil especifidcado dos valores de uma coluna
cov() #calcula a covariancia entre colunas de um dataframe
corr() # Calcula a correlação entre colunas de um DataFrame

iris_local[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']] # Seleciona colunas específicas do DataFrame
iris.loc[0] # Trás informaçõesd de uma linha específica do DataFrame
iris.iloc[0:10, 1] # Trás informações de linhas específicas e uma coluna específica do DataFrame

iris_local[iris_local['species'] == 'Iris-virginica']  # Filtra o DataFrame para mostrar apenas as linhas onde a coluna 'species' é igual a 'Iris-virginica'
iris_local[iris_local['sepal_length'] > 6]  # Filtra o DataFrame para mostrar apenas as linhas onde a coluna 'sepal_length' é maior que 6
iris_local.sort_values('sepal_length', ascending= False) # Ordena o DataFrame com base na coluna 'sepal_length'

iris_local.notnull() # Verifica se há valores não nulos no DataFrame
iris_local.isnull()  # Verifica se há valores nulos no DataFrame

In [24]:
iris_local = pd.read_csv("C:/Users/gabri/OneDrive/Desktop/machine-learning/AnalisedeDados/aulas/data/iris.csv", names= col_names)

iris.notnull()

     sepal_length  sepal_width  petal_length  petal_width
0            True         True          True         True
1            True         True          True         True
2            True         True          True         True
3            True         True          True         True
4            True         True          True         True
..            ...          ...           ...          ...
145          True         True          True         True
146          True         True          True         True
147          True         True          True         True
148          True         True          True         True
149          True         True          True         True

[150 rows x 4 columns]